@tailwind base;
@tailwind components;
@tailwind utilities;

html * {
  color: rgb(113 113 122);
}

.navIcon span {
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all .35s;
    background-color: rgb(113 113 122);
}

.navIconHamburger span:first-child {
  transform: translateX(-50%) translateY(-7px);
}

.navIconHamburger span:nth-child(2) {
  transform: translateX(-50%) translateY(0);
}

.navIconHamburger span:nth-child(3) {
  transform: translateX(-50%) translateY(7px);
}

.navIconX span:first-child {
  transform: translateX(calc(-50% - 3px)) rotate(45deg);
}

.navIconX span:nth-child(2) {
  opacity: 0;
}

.navIconX span:nth-child(3) {
  transform: translateX(calc(-50% - 3px)) rotate(-45deg);
}

/* @media (max-width: 1023px) { */
  .navLevelOne li {
    margin-top: 10px;
  }

  .navLevelOne li:first-child {
    margin-top: 0px;
  }

  .navLevelOne li:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .navLevelTwo li:first-child {
    margin-top: 10px;
  }

  .navLevelTwo li:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
  }
/* } */

@media (min-width: 1024px) {
  .navLeft li {
    margin-left: 30px;
  }
}


.carousel .slide img {
    max-width: 756px;  /* change this to whatever you want */
    height: auto;
}


@media (min-width: 1024px) {
  .thumbs-wrapper {
  display: flex;
  justify-content: center;
  }
}
